/* header */
@media (max-width: 850px) {
  /* header */
  nav {
    overflow: scroll;
    white-space: nowrap;
  }
  header ul li {
    display: inline-block;
    padding: 0.2rem;
    border-radius: 5px;
  }

  /* home */
  #home {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  #home img {
    object-fit: cover;
  }
  /* about */
  #about {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #profile,
  #education {
    flex: none;
  }
  /* skills */
  #skills {
    grid-template-rows: 0.2fr 1fr;
  }
}
